<header class="p-3 bg-dark text-white">

    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <ul class="nav  col-lg-auto me-lg-auto  justify-content-center mb-md-0">

                <li class="navbar-brand"><a href="{% url 'content_app:index' %}" class="btn btn-warning px-1 ">BrSh</a></li>
                <li><a href="{% url 'content_app:student_course_list' %}" class="nav-link px-2 text-white">Обучение</a>
                </li>
                <li><a href="{% url 'content_app:teacher_course_list' %}"
                       class="nav-link px-2 text-white">Преподавание</a></li>

            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input disabled type="search" class="form-control form-control-dark" placeholder="Место для рекламмы"
                       aria-label="Search">
            </form>

            <div class="text-end">
                {% if user.is_authenticated %}
                <a class="p-2 btn btn-outline-primary" href="#">{{ user.get_username }}</a>
                <a class="p-2 btn btn-outline-primary" href="{% url 'users:logout' %}">Выход</a>

                {% else %}
                <a class="p-2 btn btn-outline-primary" href="{% url 'users:login' %}">Вход</a>
                <a class="p-2 btn btn-outline-primary" href="{% url 'users:register' %}">Регистрация</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>