{% extends 'content_app/base.html' %}
{% load my_tags %}
{% block content %}
<div class="container">
    {% include 'content_app/includes/information.html' %}
    <p></p>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for course in object_list %}
        <div class="col">

            <div class="card btn h-100" onclick="location.href='{% url 'content:course_detail' course.pk %}'">

                <img src="{{ course.image | media_filter }}" class="card-img-top mt-1" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ course.name }}</h5>
                    <p class="card-text">{{ course.description }}</p>
                    <p class="card-text">автор: {{ course.owner.email }}</p>
                    <p class="card-text">цена: {{ course.cost }}</p>
                </div>
                <div class="alert alert-success mb-2" role="alert">

                        {% if course.is_published %} опубликован {% else %} не опубликован {% endif %}

                </div>
            </div>

        </div>
        {% endfor %}

    </div>

</div> <!-- /container -->
{% endblock %}
