{% extends 'content_app/base.html' %}
{% load my_tags %}
{% block content %}

<div class="container">
    </br>
    </br>

    <div class="col">

        </br>
        </br>

        <div class="card">
            <div class="card-header ">
                {% if user in object.studying_users.all %}
                <h3>Страница студента</h3>
                {% endif %}
            </div>

            <div class="card-body">


                <ul>
                    {% for module in object.module_set.all %}

                    <li>
                        Модуль№ {{ module.ordering_number }}: {{ module.name }}
                    </li>
                    </br>
                    <ul>
                        {% for lesson in module.lesson_set.all %}
                        <li>
                            Урок № {{ lesson.ordering_number }}:
                            <a class="" href="{% url 'content:student_step_detail' lesson.step_set.first.pk %}">
                                {{ lesson.name }}
                            </a>
                        </li>
                        </br>

                        {% endfor %}
                    </ul>


                    {% endfor %}
                </ul>
            </div>


            <div class="card-footer">

            </div>
        </div>

    </div>

</div> <!-- /container -->

{% endblock %}
