{% extends 'content_app/base.html' %}
{% block content %}
<div class="container">
    </br>
    </br>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Параметры курса</h3>
                    {{ form.as_p }}
                    {% for module in object.module_set.all %}
                    {{ module.name }}
                    {% endfor %}
                    </br>
                    {{ formset.management_form }}
                    {% for form in formset.forms %}
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <div class="card-text text-center">
                                Учебный модуль
                            </div>
                            {{ form.as_p}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="card-footer d-grid">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </div>

    </form>
</div> <!-- /container -->
{% endblock %}
